body { 
  background-image:url('https://cutewallpaper.org/21/anime-backdrop/Anime-Ocean-Background-Best-Background-Images-HD-Wallpaper.png');
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center; 
}
			
        .responsive {
  max-width: 100%;
  height: auto;
}
		img{
  max-width:100%;
  border:none;
}
        hr {
  margin-top: 100px;
  border: none;
 
}

html, body {
     min-height: 100%;
}

